@model MVCWebApplicationTD.Models.VersionOfProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VersionOfProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VersionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSet.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
